/* إزالة أي سكرول أفقي */
body,
html {
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

/* تأثير hover */
.box:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

/* تأثير Hover */
.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* تأثير  للصورة */
.card img {
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}

/* تقليل حجم الصورة في قسم Pyramids */
.pyramids-img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto; /* لمركزة الصورة عموديًا */
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 55px;
}

